<%- include('partials/header') %>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 1%; font-size: 1.2rem; text-align: center;">
    <a class="navbar-brand" href="#" style="font-size: 1.5rem;">Covid Blogs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/posts/<%= user._id %>/myposts">My Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/posts/<%= user._id %>/new">Create New</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/user/<%= user._id %>/<%= user._id %>/profile">My profile</a>
          </li>
            </ul>

        

      </div>
    </div>
  </nav>
<h1 style="margin: 3%; align-self: center; text-align: center;"> Posts <hr></h1>
<div style="margin: 1%; text-align: center;">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/home/?filter=liked">Liked Posts</a></li>
      <li><a class="dropdown-item" href="/home/?filter=today">Posted Today</a></li>
    </ul>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/home/?sort=dateasc">Date(Newest first)</a></li>
      <li><a class="dropdown-item" href="/home/?sort=datedsc">Date(Oldest first)</a></li>
      <li><a class="dropdown-item" href="/home/?sort=likesasc">Likes(Most liked first)</a></li>
      <li><a class="dropdown-item" href="/home/?sort=likesdsc">Likes(Least liked first)</a></li>
      <li><a class="dropdown-item" href="/home/?sort=commentsasc">Comments(Most Commented first)</a></li>
      <li><a class="dropdown-item" href="/home/?sort=commentsdsc">Comments(Least Commented first)</a></li>
    </ul>
    <a href="/home"><button type="button" class="btn btn-danger" >Reset</button> </a>
  </div>
  
</div>

  <div class="row">
    <% posts.forEach(post=>{ %> 
      <div class="col-lg-10" style="margin: auto; margin-bottom: 1%;">
          <div class="card">
              <div class="card-body">
                  
                    <h2 class="card-title"><%= post.title %>  </h2>
                    <p class="card-body"><%=post.body.substring(0,100)+' ...'%> <a href="/posts/<%=post._id%>/<%= user._id %> ">Read More</a></p>
                    <p>By - <a href="/user/<%= post.userID %>/<%= user._id %>/profile"><%= post.author %> </a></p>
                    <p>Posted on - <%= post.date.getHours()%>:<%= post.date.getMinutes()%> <%= post.date.toUTCString().substring(0,16) %>   </p>
                    <i class="far fa-thumbs-up fa-1x"></i> <%= post.likes %> &emsp;
                    <i class="far fa-comments fa-1x"></i> <%= post.comments.length %> 

                    
              </div>
          </div>
      </div>
      <% }); %> 
  </div>

<%- include('partials/footer') %> 